<div class="well well-sm">
    <form><!-- datt form Tag brauch der Reset Button -->
        <div class="row">
            <div class="col-sm-2">
                <div class=" input-group">
                    <span class="input-group-addon" id="article-no">No.</span>
                    <!-- must be text if someone ssearch for 000 -->
                    <input type="text" class="form-control" ng-model="article_no" aria-describedby="article-no" title="search for article number">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon cursorPointer" id="entry-time-from" ng-click="openDatepickerFrom()">from</span>
                    <input type="text" class="form-control" ng-model="entry_time_from" uib-datepicker-popup="{{dateformat}}" is-open="datepopup.openedFrom" aria-describedby="entry-time-from" title="search for date from">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon cursorPointer" id="entry-time-to" ng-click="openDatepickerTo()">to</span>
                    <input type="text" class="form-control" ng-model="entry_time_to" uib-datepicker-popup="{{dateformat}}" is-open="datepopup.openedTo" aria-describedby="entry-time-to" title="search for date to">
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-success pull-left click-default" ng-click="submitSearch()">los</button>
                <!--<input type="reset" class="btn btn-default pull-right" value="reset">-->
                <div class="input-group">
                    <span class="input-group-addon" id="page-size">pagesize</span>
                    <input type="text" class="form-control" ng-model="itemsPerPage" aria-describedby="page-size" ng-change="setPagesize(itemsPerPage)" title="set items per page">
                </div>
            </div>
        </div>
    </form>
</div>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>S. ID</th>
            <th>A. no.</th>
            <th>Store ID</th>
            <th>Store Place</th>
            <th>Charge</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="stockIn in stockIns">
            <td style="width: 80px;">{{stockIn.id}}</td>
            <td style="width: 80px;">{{stockIn.articleData.articleNo}}</td>
            <td style="width: 80px;">{{stockIn.storeId}}</td>
            <td>{{stockIn.storePlace}}</td>
            <td>{{stockIn.charge}}</td>
            <td>{{stockIn.quantity}}</td>
            <td>
                <a class="btn btn-xs btn-info" href="#!/article/{{stockIn.articleId}}">view article</a>
                <a class="btn btn-xs btn-info" href="#!/stockIn/{{stockIn.id}}">view stock-in</a>
                <a class="btn btn-xs btn-default" href="#!/stockInEdit/{{stockIn.id}}">edit stock-in</a>
            </td>
        </tr>
    </tbody>
</table>

<uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage"></uib-pagination>
<!--<pre>current Page: {{currentPage}}</pre>
<pre>items Per Page: {{itemsPerPage}}</pre>
<pre>total Items: {{totalItems}}</pre>-->

<!--<pre>{{articleTypes}}</pre>
<pre>selected: {{selectedArticleType.name}}</pre>-->