<div class="form-group">
    <label for="articleNo" class="col-xs-2">No</label>
    <div class="col-xs-6">
        <input type="text" ng-model="article.articleNo" id="articleNo" class="form-control" placeholder="Article No here"/>
    </div>
</div>
<div class="form-group">
    <label for="articleType" class="col-xs-2">Type</label>
    <div class="col-xs-6">
        <!--<input type="text" ng-model="article.articleType" id="articleType" class="form-control" placeholder="Type here"/>-->
        <select class="form-control" ng-options="type.name for type in articleTypes track by type.id" ng-model="article.articleType" title="select article type {{article.articleType}}">
        </select>
    </div>
</div>
<div class="form-group">
    <label for="articleGroup" class="col-xs-2">Group</label>
    <div class="col-xs-6">
        <!--<input type="text" ng-model="article.articleGroup" id="articleGroup" class="form-control" placeholder="Group here"/>-->
        <select class="form-control" ng-options="group.name for group in articleGroups track by group.id" ng-model="article.articleGroup" title="select article group {{article.articleGroup}}">
        </select>
    </div>
</div>
<div class="form-group">
    <label for="descShort" class="col-xs-2">desc short</label>
    <div class="col-xs-6">
        <input type="text" ng-model="article.descShort" id="descShort" class="form-control" placeholder="desc short here"/>
    </div>
</div>
<div class="form-group">
    <label for="descLong" class="col-xs-2">desc long</label>
    <div class="col-xs-6">
        <input type="text" ng-model="article.descLong" id="descLong" class="form-control" placeholder="desc long here"/>
    </div>
</div>
<div class="form-group">
    <label for="descTec" class="col-xs-2">desc tec</label>
    <div class="col-xs-6">
        <input type="text" ng-model="article.descTec" id="descTec" class="form-control" placeholder="desc tec here"/>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-2"></div>
    <div class="col-xs-6">
        <input type="submit" class="btn btn-success" value="Save"/>
    </div>
</div>
<hr>
<div class="form-group">
    <label class="col-xs-2">Article Part-List</label>
    <div class="col-xs-1">
        <span class="badge" id="articleListCount">{{articleListCount}}</span>
        <!--<input type="text" ng-model="article.articleListCount" id="articleListCount" class="form-control">-->
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-info ng-hide" ng-click="openArticleList(article)" ng-show="articleListCount">view article part list</button>
        <div ng-hide="articleListCount">there is no part list</div>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-default" ng-click="openSelectArticleForPartList()">add article to list</button>
    </div>
    <div class="col-xs-1"></div>
</div>
