<!-- only the core important properties for an article -->
<div class="form-group">
    <label for="articleNo" class="col-xs-2">No</label>
    <div class="col-xs-6">
        <input type="text" ng-model="article.articleNo" id="articleNo" class="form-control" placeholder="Article No here"/>
    </div>
</div>
<div class="form-group">
    <label for="articleType" class="col-xs-2">Type</label>
    <div class="col-xs-6">
        <!--<input type="text" ng-model="article.articleType" id="articleType" class="form-control" placeholder="Type here"/>-->
        <select id="articleType" class="form-control" ng-options="option.name for option in articleTypes track by option.id" ng-model="article.articleType" title="select article type">
        </select>
    </div>
</div>
<div class="form-group">
    <label for="articleGroup" class="col-xs-2">Group</label>
    <div class="col-xs-6">
        <!--<input type="text" ng-model="article.articleGroup" id="articleGroup" class="form-control" placeholder="Group here"/>-->
        <select id="articleGroup" class="form-control" ng-options="option.name for option in articleGroups track by option.id" ng-model="article.articleGroup" title="select article group">
        </select>
    </div>
</div>
<div class="form-group">
    <label for="descShort" class="col-xs-2">desc short</label>
    <div class="col-xs-6">
        <input type="text" ng-model="article.descShort" id="descShort" class="form-control" placeholder="desc short here"/>
    </div>
</div>
<div class="form-group">
    <label for="descLong" class="col-xs-2">desc long</label>
    <div class="col-xs-6">
        <input type="text" ng-model="article.descLong" id="descLong" class="form-control" placeholder="desc long here"/>
    </div>
</div>
<div class="form-group">
    <label for="descTec" class="col-xs-2">desc tec</label>
    <div class="col-xs-6">
        <input type="text" ng-model="article.descTec" id="descTec" class="form-control" placeholder="desc tec here"/>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-2"></div>
    <div class="col-xs-6">
        <input type="submit" class="btn btn-success" value="Save"/>
    </div>
</div>