<table class="table">
    <thead>
        <tr>
            <th colspan="2">article details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Article No</td>
            <td>{{article.articleNo}}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{articleTypesArr[article.articleType]}}</td>
        </tr>
        <tr>
            <td>Group</td>
            <td>{{articleGroupsArr[article.articleGroup]}}</td>
        </tr>
        <tr>
            <td>desc short</td>
            <td>{{article.descShort}}</td>
        </tr>
        <tr>
            <td>desc long</td>
            <td>{{article.descLong}}</td>
        </tr>
        <tr>
            <td>desc tec</td>
            <td>{{article.descTec}}</td>
        </tr>
        <tr>
            <td>created</td>
            <td>{{article.dateCreate * 1000 | date:'MM-dd-yyyy'}}</td>
        </tr>
        <tr ng-show="article.dateEdit">
            <td>last edit</td>
            <td>{{article.dateEdit * 1000 | date:'MM-dd-yyyy'}}</td>
        </tr>
    </tbody>
</table>
<div>
    <a class="btn btn-default" href="#!/articleEdit/{{article.id}}">Edit</a>
</div>