<div class="modal-header">
    <h3 class="modal-title">view article list {{parentArticle.articleNo}} (id: {{parentArticle.id}})</h3>
</div>
<div class="modal-body">
    <!--{{articleListEntries}}-->
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th colspan="4">
                article list
            </th>
            <th colspan="4">
                article
            </th>
            <th></th>
        </tr>
        <tr>
            <th>id</th>
            <th>No (id)</th>
            <th>desc short</th>
            <th>desc long</th>
            <th>desc tec</th>
            <th>quantity</th>
            <th>desc list entry</th>
            <th>sub articles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="articleListEntry in articleListEntries">
            <td style="width: 40px;">{{articleListEntry.id}}</td>
            <td style="width: 80px;">{{articleListEntry.articleData.articleNo}} ({{articleListEntry.articleId}})</td>
            <td>{{articleListEntry.articleData.descShort}}</td>
            <td>{{articleListEntry.articleData.descLong}}</td>
            <td>{{articleListEntry.articleData.descTec}}</td>
            <td>{{articleListEntry.quantity}}</td>
            <td>{{articleListEntry.desc}}</td>
            <td>
                <span class="badge">{{articleListEntry.countSubArticles}}</span>
                <button class="btn btn-xs btn-info ng-hide" ng-click="openSubArticleListEntries(articleListEntry.articleId)" ng-show="articleListEntry.countSubArticles !== '0'">view list</button>
            </td>
            <td>
                <a class="btn btn-xs btn-warning pull-right" ng-click="deleteFromList(articleListEntry.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()">close</button>
    <button class="btn btn-default" type="button" ng-click="openSelectArticle()">add article to list</button>
</div>